<div class="login-left">
    <owl-carousel [options]="carouselOptions">
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-2.png?d=734x734" alt="Slide 1"
                class="login-image">
        </div>
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-3.png?d=734x734" alt="Slide 2"
                class="login-image">
        </div>
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-4.png?d=734x734" alt="Slide 2"
                class="login-image">
        </div>
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-4.png?d=734x734" alt="Slide 2"
                class="login-image">
        </div>
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-3.png?d=734x734" alt="Slide 2"
                class="login-image">
        </div>
        <div class="item">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-6.png?d=734x734" alt="Slide 2"
                class="login-image">
        </div>
    </owl-carousel>
</div>