@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container{
   display: flex;
   /* justify-content: flex-end; */
   flex-grow: 1;
   padding: 20px;
}
.main-layout {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
  }
.two-component{
    display: flex;
}
.account-container {
    padding: 16px;
    border: 1px solid #ddd;
    margin: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
  }
  
  .account-container div {
    margin-bottom: 12px;
  }
  
  .account-container label {
    display: inline-block;
    width: 140px;
  }
  
  .account-container input {
    width: calc(100% - 202px);
    border-style: none;
    outline-style: none;
    padding: 15px 10px;
    margin-right: 8px;
    font-family: "Noto Sans", sans-serif;
    border-radius: 10px;
    
  }
  .account-container input ::placeholder{
    color:rgb(197, 197, 197);
  }
  
  .account-container button {
    padding: 8px;
    cursor: pointer;
  }
  
  .account-container  i {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  .address-div{
    display: flex;
  }
  .user{
    background-color: rgb(117, 216, 117);
    color: #ffffff;
    width:fit-content;
    border-radius: 50%;
    /* font-weight: bold; */
    /* font-size: 25px; */
    padding : 10px 16px;
  }
  .check{
    color: rgb(57, 196, 57);
  }
  .edit{
    color: rgb(147, 147, 245);
  }
 